<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.cq9191.cashbook">

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/app_icon"
        android:label="@string/app_name"
        android:supportsRtl="true">
        <activity
            android:name=".SplashActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".DetailRecords"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SearchActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".CertainCashListActivity"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HomeActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MyManageActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MyManageUi.ChangePassword"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MyManageUi.AddNewPersonCards"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MyManageUi.AddNewThingsCards"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MyManageUi.DeleteCash"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MyManageUi.CreateCash"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MyManageUi.Feedback"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MyManageUi.AboutUs"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".NewRecords"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:windowSoftInputMode="adjustPan"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".EditRecords"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".RegisterActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".HelpActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".QueryResultListActivity"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".MyManageUi.CustomCashDetail"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".MyManageUi.MonthCash"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
        <activity android:name=".MyManageUi.TotalDetail"
            android:launchMode="singleTask"
            android:theme="@style/AppTheme"
            android:screenOrientation="portrait"/>
    </application>

</manifest>